    <header>
        <div class="logo">
            <a href="/dashboard/index"><img src="" alt="Inicio"></a>
            <ul class="enlaces">
                <li class="enlace"><a href="/dashboard/index">VER</a></li>
                <li class="enlace"><a href="/dashboard/consultar">GET</a></li>
                <li class="enlace"><a href="/dashboard/crear">POST</a></li>
                <li class="enlace"><a href="/dashboard/modificar">PUT</a></li>
                <li class="enlace"><a href="/dashboard/eliminar">DELETE</a></li>
            </ul>
        </div>
    </header>